body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0; /* マージンを0にして全画面表示に */
    padding: 0;
    overflow: auto; /* スクロール可能に */
}

h1 {
    color: #333;
    font-size: 3vh;
    padding-top: 1vw;
}

h2 {
    color: #333;
    font-size: 4vh;
    margin-bottom: 0;
}

.bg {
    position: fixed; /* 背景を固定 */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; /* コンテンツの下に配置 */
    background: linear-gradient(300deg, deepskyblue, #f696ff);
    background-size: 120% 120%;
    animation: gradient-animation 12s ease infinite;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* 上部に揃える */
    padding: 20px; /* パディングを追加してスペースを確保 */
    z-index: 1; /* 背景の上に配置 */
    height: auto; /* 高さを自動にして、必要に応じてスクロール */
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.img-cover {
    padding-top: 3%;
}

.img-cover img {
    border-radius: 50%;
    width: 30%;
}

.discription {
    color: #333;
    font-size: 2vh;
    margin-top: 0;
}

/* カードを縦に並べるコンテナ */
.card-container {
    display: flex;
    flex-direction: column; /* 縦に並べる */
    gap: 16px; /* カード間の間隔 */
    max-width: 400px; /* コンテナの最大幅 */
    width: 100%;
    padding: 16px;
    align-items: center;
}

.card {
    display: flex;
    align-items: center;
    padding: 16px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-decoration: none;
    color: inherit;
    transition: transform 0.1s;
}

.card:hover {
    transform: scale(1.02);
}

.icon {
    width: 50px;
    height: 50px;
    background-color: #f4f4f4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
    font-size: 24px;
    color: #888;
}

.icon img {
    border-radius: 50%;
    width: 50px; /* アイコンが円形に収まるように設定 */
    height: 50px; /* アスペクト比を維持 */
    border: 4px solid white; /* 白い縁取り */
    padding: 2px; /* 内側の余白 */
    background-color: #b7ffc6; /* 縁取りの後ろの背景色 */
}

.card-content h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
    font-weight: bold;
    text-align: left;
}

.card-content p {
    margin: 4px 0 0;
    color: #888;
    font-size: 14px;
    text-align: left;
}